/*portfolio*/

#gallery li {
    width: 28.33333333333%;
}


/*heeader*/

#logo {
    float: left;
    width: 45%;
    margin-left: 5%;
    text-align: left;
}

nav {
    float: right;
    width: 45%;
    margin-right: 5%;
    background: none;
    text-align: right;
    padding-top: 25px;
}

    nav a {
        padding: 0 5px;
        font-weight: bold;
        font-size: 1.1em;
    }

.main-header {
    border-bottom: 5px solid #297F52
}
